/* Excer_FIXAÇÃO_Layout ex_2*/

*{margin: 0px;
padding:0px;
}

#container {
margin: 20px auto 0px auto;
width: 960px;
height: 645px;
background: #A9A9A9
}

#corpo {
margin: 40px auto 0px auto;
padding-top: 160px; /*margem interna superior*/
position: center;
width: 702px;
}

#logo {
margin-left: 129px;
width: 318px;
height: 120px;
float: left;
background-image: url(https://freeimage.host/i/R1RU74);
}


#banner {
font-family: Arial;
font-size: 50px;
padding-top: 40px;
margin: 0px auto 0px auto;
width: 384px;
height: 120px;
float: left;
color: #ffffff;
text-align: center;
background-image: linear-gradient(#585858, #000000);
}

nav {
font-family: Arial;
margin: 0px auto 0px auto;
width: 702px;
height: 30px;
float: right;
background: #000000;
word-spacing: 5px;
text-align: left;
color: #ffffff;
background-image: linear-gradient(#585858, #000000);
text-indent: 10px;
}

.sobre {
font-family: Arial;
padding-right: 10px;
padding-top: 0px;
height: 370px ;
background: #DCDCDC;
width: 692px;
position: center;
font-size: 25px;
color: #0040FF;
text-indent: 10px;
}

#rodape {
font-family: Arial;
margin: 0px auto;
padding-top: 50px;
width: 702px;
position: center;
background:#000000;
color: #ffffff;
text-align: center;
background-image: linear-gradient(#585858, #000000);
}